@model IEnumerable<DatabaseTask.Core.Domain.Employee>

<body style="padding: 10px">
	<div class="col-xs-8">
		<div class="panel-heading">
			<h3>Employees</h3>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">FirstName</th>
					<th scope="col">LastName</th>
					<th scope="col">JobTitle</th>
					<th scope="col">Salary</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var emp in Model)
				{
					<tr>
						<td>@emp.FirstName</td>
						<td>@emp.LastName</td>
						<td>@emp.JobTitle</td>
						<td>@emp.Salary</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>